body {
  max-width: 70em;
}

nav {
  display: flex;
  justify-content: space-between;
}

aside {
  border-bottom: 1px solid gray;
}

h1,
p,
h2 {
  text-align: center;
}

#contact {
  margin: 0 auto;
  max-width: 400px;
}

input {
  width: 100%;
}

footer {
  border-top: 1px solid gray;
}
